<div class="border shadow border-primary mb-4 col-12 pt-1 rounded-2 bg-secondary">
    <h1 class="text-center">GİZLİLİK SÖZLEŞMESİ</h1>
</div>

<div class="border shadow py-4 px-5 col-12 border-primary text">
    <h3>1. Giriş</h3>
    <p style="font-size: 18px;">
        OdamOlsun web sitesi ("Site"), kullanıcılarımızın evlerindeki boş odaları ilana koymalarına ve bu ilanlara diğer kullanıcıların ulaşmasına olanak sağlar. Gizliliğiniz bizim için önemlidir ve bu Gizlilik Sözleşmesi, kişisel bilgilerinizin nasıl toplandığını, kullanıldığını ve korunduğunu açıklar.
    </p>
    <h3>2. Toplanan Bilgiler</h3>
    <p style="font-size: 18px;">
        a. Kullanıcı Bilgileri: Siteye üye olduğunuzda, adınız, e-posta adresiniz, telefon numaranız gibi kişisel bilgileri toplarız.
        <br>
        b. İlan Bilgileri: İlan yayınladığınızda, oda fotoğrafları, oda özellikleri ve diğer ilgili bilgileri toplarız.
        <br>
        c. Çerezler ve İzleme Teknolojileri: Siteyi kullanırken çerezler ve diğer izleme teknolojilerini kullanarak ziyaretleriniz ve site üzerindeki faaliyetleriniz hakkında bilgi toplarız.
    </p>
    <h3>3. Bilgilerin Kullanımı</h3>
    <p style="font-size: 18px;">
        Toplanan bilgileri şu amaçlarla kullanırız:
        <br><br>
        Site hizmetlerini sağlamak ve yönetmek.
        <br>
        Kullanıcılarla iletişime geçmek.
        <br>
        Kullanıcı deneyimini geliştirmek.
        <br>
        Site güvenliğini sağlamak.
        <br>
        Yasal gereksinimlere uyum sağlamak.
    </p>
    <h3>4. Bilgilerin Paylaşımı</h3>
    <p style="font-size: 18px;">
        Kişisel bilgilerinizi üçüncü şahıslarla paylaşmayız, ancak aşağıdaki durumlar istisnadır:
        <br><br>
        Yasal talepler ve hukuki süreçler.
        <br>
        Hizmet sağlayıcılarımız ve iş ortaklarımız ile.
        <br>
        Kullanıcılarımızın güvenliği ve haklarını korumak amacıyla.
    </p>
    <h3>5. Güvenlik</h3>
    <p style="font-size: 18px;">
        Kişisel bilgilerinizin güvenliğini sağlamak için makul teknik ve idari önlemler alırız. Ancak, internet üzerinden iletilen bilgilerin güvenliğini tamamen garanti edemeyiz.
    </p>
    <h3>6. Kullanıcı Sorumlulukları</h3>
    <p style="font-size: 18px;">        
        Kullanıcılar, ilan yayınladıkları odalar hakkında doğru ve güncel bilgi vermekle yükümlüdür. OdamOlsun, ilan yayınlayan kişinin ev sahibi veya kiracı olup olmadığını doğrulama sorumluluğunu taşımaz. Bu nedenle, kullanıcılar arasında gerçekleşecek iletişim ve anlaşmaların sorumluluğu tamamen kullanıcıların kendisine aittir.
    </p>
    <h3>7. Değişiklikler</h3>
    <p style="font-size: 18px;">        
        Bu Gizlilik Sözleşmesi zaman zaman güncellenebilir. Değişiklikler hakkında kullanıcılarımızı bilgilendireceğiz ve güncellenmiş sözleşmeyi sitede yayınlayacağız.
    </p>
    <h3>8. İletişim</h3>
    <p style="font-size: 18px;">
        Gizlilik Sözleşmesi ile ilgili sorularınız için bizimle iletişime geçebilirsiniz:
    </p>
    <p style="font-size: 18px;">
        E-posta: info@odamolsun.com
        <br>
        Adres: -
    </p>
</div>
